
:root {
    --ms-turquoise: #19bc9c;
    --ms-midblue: #3c4e80;
    --ms-darkblue: #2c3e50;
}
.ms-bg-b {
    background-color: var(--ms-midblue);
}
.ms-bg-db {
    background-color: var(--ms-darkblue);
}
/* utility  */
a {
    text-decoration: none;
    color:inherit;
}
.wrapper-r {
    text-align: right;
}
ul {
    list-style: none;
}

img {
    
    width: 100%;
}
.img-box {
    width: 300px;
    height: 320px;
}
h2, h3 {
    text-transform: uppercase; 

}
.btn-outline-turc {
    border-color: white;
    color: white;
}
.btn-outline-turc:hover {
    border-color: var(--ms-turquoise);
    color: var(--ms-turquoise);
    background-color: #fff;
}
.btn-outline-inv-turc {
    border-color: white;
    color: white;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
}
.btn-outline-inv-turc:hover {
    background-color: var(--ms-turquoise);
    color: white;
}
.btn-turc {
    border-color: white;
    color: white;
    background-color: var(--ms-turquoise);
}
.btn-turc:hover {
    border-color: var(--ms-turquoise);
    color: var(--ms-turquoise);
    background-color: white;
}
.ms-contact-form {
    width: 70%;
}
.ms-contact-form .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    padding-top: 10px;

}
.ms-contact-form textarea {
    height: 7em;
}
.ms-contact-form .form-control:hover,.ms-contact-form .form-control:focus {
    box-shadow: none;


}

/* star-line */
.star-line {
    font-size: 20px;
    
    width: 250px;  
    margin-bottom: 20px;  
}
.star-line .line-star {
    transform: translate(0,15px);

    border-radius: 4px;
    height: 4px;
    


}
/* header  */
header {
    background-color: var(--ms-darkblue);
    height: 80px;
    line-height: 80px;

    
    font-size: 20px;
}
header .home {
    font-size: 20px;
    font-weight: 700;

    text-transform: uppercase; 

    vertical-align: middle;
}
header .hidden-menu {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;

    vertical-align: middle;
    border: 1px solid lightsteelblue;
    border-radius: 4px;
    cursor: pointer;

    position: relative;
}
header .hidden-menu > div {
    background-color: rgba(255, 255, 255, 0.5);
    height: 2px;
    width: 100%;
}
header .hidden-menu:hover {
    border-color: blue;
}
header .hidden-menu:hover > div {
    background-color: blue;
}
header .hidden-menu ul {
    background-color: var(--ms-darkblue);
    position: absolute;
    
    text-align: left;
    top: 30px;
    right: 0px;
    padding: 0 5px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}
header .hidden-menu li {
    line-height: 30px;
    height: 30px;
}
header .hidden-menu:hover ul  {
    display: block !important;
}
header .wrapper-r .visible-menu ul {
    margin-bottom: 0;
    padding-left: 0;
}
header .wrapper-r .visible-menu  li {
    display: inline-block;
    padding-left: 20px;
}
/* fine header  */
/* jumbo  */
.jumbo {
    background-color: var(--ms-turquoise);
    width: 100%;
    color: white;
    padding: 40px 0;

    text-transform: uppercase; 
}
.jumbo p {
    margin-top: 20px;
    font-size: 1.1rem;
    
}

/* main  */
main > section  {
    padding: 30px 0;
}
.wallet section{

    cursor: pointer;
}
.wallet section div {
    
    position: relative;
}
.wallet section:hover div div{
    
    background-color: rgba(25, 188, 156 , 0.7) ;

    /* non so perché non funzioni così  */
    /* background-color: rgba(var(--ms-turquoise), 0.8);
    background-color: var(--ms-turquoise); */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    top: 0;
    left: 0;
    
    

}
.wallet section:hover div div::after { 
    content: "+";
    background-color: white;
    position: absolute;
    border-radius: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    
    text-align: center;
    
    line-height: 80px;



}
.wallet section img{
    border-radius: 10px;

    
}
.about {
    background-color: var(--ms-turquoise);
    color: white;

}
.about p {
    font-size: 1.2rem;

}
footer section {
    padding: 20px 0;
}
footer .footer-top a {
    color: var(--ms-turquoise);
}
footer .footer-top a:hover {
    color: white;
    text-decoration: underline;
}
footer .footer-top section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* Media  */
@media all and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .star-line {
        width: 400px;
        font-size: 25px;
    }
    .star-line .line-star {
        transform: translate(0,20px);
    }


    header .home {
        
        font-weight: 900;
    }
    .jumbo p {
        font-size: 1.4rem;
    }


    
}
@media all and (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }

    .star-line {
        width: 700px;
        font-size: 35px;
    }
    .star-line .line-star {
        transform: translate(0,25px);
    }


    header .home {
        
        font-weight: 900;
    }
    .jumbo p {
        font-size: 1.8rem;
    }
    
}
